* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: .9;
    background-color: #ffeeed;
    height: 9999px;
    
}

h1 {
    font-size: 12px;
    font-weight: 300;
    color: #ff3a33;
    position: fixed;
    top: 12px;
    left: 12px;
}
